<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer page</title>
</head>
<body>
<h1>Create new customer</h1>
<p>
    <a href="/customers">Customer listing</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="#" th:action="@{/create-customer}" method="post" th:object="${customer}">
    <table>
        <tr>
            <td>FirstName:</td>
            <td><input type="text" th:field="*{firstname}"/></td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td><input type="text" th:field="*{lastname}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"/></td>
        </tr>
    </table>
</form>
</body>
</html>