<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer page</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure to delete this user???</h2>
<p>
    <a href="/customers">Customer listing</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form action="#" th:action="@{/delete-customer}" method="post" th:object="${customer}">
    <table>
        <input type="hidden" th:field="*{id}">
        <tr>
            <td>FirstName:</td>
            <td th:text="*{firstname}"></td>
        </tr>
        <tr>
            <td>LastName:</td>
            <td th:text="*{lastname}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"/></td>
        </tr>
    </table>
</form>
</body>
</html>