<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing customer page</title>
</head>
<body>
<h1>Listing customer</h1>
<p>
    <a href="/create-customer">Create new customer</a>
</p>
    <table>
        <thead>
            <th>FirstName</th>
            <th>Lastname</th>
            <th>Functions</th>
        </thead>
        <th:block th:each="customer: ${customers}" >
            <tr>
                <td th:text="${customer.getFirstname()}"></td>
                <td th:text="${customer.getLastname()}"></td>
                <td><a th:href="@{/update-customer/{id}(id=${customer.getId()})}">EDIT</a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>